* {
    cursor: none !important;
}

button, a, .interactive, input {
    cursor: none !important;
}

.custom-cursor {
    width: 64px;
    height: 64px;
    background-image: url('./img/etoile2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

